# Created by venv; see https://docs.python.org/3/library/venv.html
# Python
.venv/
venv/
__pycache__/
*.pyc

data/
logs/
*.log

# Env / Secrets
.env
*.env

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db
